ul {
	margin:0;
	padding:0;
	list-style:none
}

.carousel-tabs {
	clear:both
}

.carousel-active-tab {
	color:red
}

.carousel-disabled,.mr-rotato-disabled {
	color:#aaa
}

.slidewrap2 .carousel-tabs {
	padding:0;
	margin:1em 0;
	clear:both;
	text-align:center;
	padding-top: .5em
}

.slidewrap2 .carousel-tabs li {
	display:inline-block;
	padding:0 2px
}

.slidewrap2 .carousel-tabs a {
	background:#ddd;
	display:inline-block;
	height:10px;
	text-indent:-9999px;
	width:10px;
	border-radius:5px
}

.ie .slidewrap2 .carousel-tabs li,.ie .slidewrap2 .carousel-tabs a {
	display:block;
	float:left
}

.slidewrap2 .carousel-tabs .carousel-active-tab a {
	background:#777
}

.events {
	font:normal 11px/1.4 arial,helvetica,sans-serif
}

img.sliderImage {
	width:100%;
	height:auto;
	margin: 0
}

.prev,.next {
	float:left;
	font-weight:700;
	font-size:14px;
	padding:5px 0;
	width:80px
}

.next {
	float:right;
	text-align:right
}

.slidewrap2 {
	margin:0 -7%;
	width:100%
}

#bottomContent {
	width:100%
}

span.raquo {
	font-size:120%;
	padding:0.3em.5em
}

.breadcrumb,.prevItem,.pagination,.nextItem {
	font-size:90%;
	text-decoration:none
}

#breadcrumb {
	font-style:italic
}

.categoryLarge {
	font:bold 18px Georgia,Times,serif;
	color:#369;
	text-transform:uppercase;
	display:block
}

.categorySmall,.active,.categoryItemName,span.categoryPrice {
	font:italic 14px Georgia,Times,serif;
	color:#585A5D;
	text-transform:none
}

.paginationContainer {
	text-align:right;
	margin-bottom:1em
}

.prevItem {
}

.active {
	font-size:18px
}

.pagination {
}

.nextItem {
}

.productDescription {
	margin:0 1em
}

.productImage img, .categoryImage img, .productContainer img {
	width:100%;
	height:auto
}

.categoryItem,.categoryItemName {
	padding:.5em.5em
}

.categoryItemName {
	font-weight:700;
	font-size:16px
}

div.shortDescription,span.categoryPrice {
	margin:.5em.5em
}

.categoryRating {
	color:#F7C942;
	margin:2em .5em
}

.moreInfo a {
	text-decoration:none;
	margin-left:.5em
}

.clearBoth {
	clear:both
}

.spacer {
	height:1em
}

a.biggerTextLink {
	float:right;
	text-decoration:none;
	font-size:14px
}

.shoppingCartImage img {
	width:100%;
	height:auto
}

input[type=text]  {
	  	height: 2em;
	-moz-border-radius:.4em;
	-webkit-border-radius:.4em;
	border-radius:.4em
}

.error {
display:block; margin:10px 0; color:#CC0000
}

.required {
margin:10px 0; color:#CC0000
}

.biggerText {
font-size: 120%
}

#signUpErrorsLink {display:none}

a.buyNowLink {text-decoration: none;font-size: 100%;font-weight: bold}

.productListingPrice {color:#FF4500;font-size: 100%;font-weight: bold}

.productListingName {
	font:bold 14px Georgia,Times,serif;
	color:#369;
	text-transform:uppercase;
	display:block
}

a.cupid-green {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #7FBF4D;
    background-image: -moz-linear-gradient(center top , #7FBF4D, #63A62F);
    border-color: #63A62F #63A62F #5B992B;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #96CA6D inset;
    color: #FFFFFF;
    font: bold 11px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 3px 1px 4px;
    text-align: center;
    text-shadow: 0 -1px 0 #4C9021;
    text-transform: uppercase
}
#products .ui-block-a, #products .ui-block-b {padding: 0 5px;margin-bottom: 1em;}

.productListingHR{display: none}
